[submodule "docker"]
	path = docker
	url = git@github.com:alcir-junior-caju/study-full-cycle-3-0-docker.git
[submodule "fundamentos-da-arquitetura-de-software"]
	path = fundamentos-da-arquitetura-de-software
	url = git@github.com:alcir-junior-caju/study-full-cycle-3-0-fundamentos-da-arquitetura-de-software.git
[submodule "comunicacao-entre-sistemas"]
	path = comunicacao-entre-sistemas
	url = git@github.com:alcir-junior-caju/study-full-cycle-3-0-comunicacao-entre-sistemas.git
[submodule "solid"]
	path = solid
	url = git@github.com:alcir-junior-caju/study-full-cycle-3-0-solid.git
[submodule "domain-driven-design"]
	path = domain-driven-design
	url = git@github.com:alcir-junior-caju/study-full-cycle-3-0-domain-driven-design.git
[submodule "domain-driven-design-modelagem-tatica-e-patterns"]
	path = domain-driven-design-modelagem-tatica-e-patterns
	url = git@github.com:alcir-junior-caju/study-full-cycle-3-0-domain-driven-design-modelagem-tatica-e-patterns.git
[submodule "event-storming"]
	path = event-storming
	url = git@github.com:alcir-junior-caju/study-full-cycle-3-0-event-storming.git
[submodule "arquitetura-hexagonal"]
	path = arquitetura-hexagonal
	url = git@github.com:alcir-junior-caju/study-full-cycle-3-0-arquitetura-hexagonal.git
[submodule "clean-architecture"]
	path = clean-architecture
	url = git@github.com:alcir-junior-caju/study-full-cycle-3-0-clean-architecture.git
[submodule "sistemas-monoliticos"]
	path = sistemas-monoliticos
	url = git@github.com:alcir-junior-caju/study-full-cycle-3-0-sistemas-monoliticos.git
[submodule "arquitetura-baseada-em-microservicos"]
	path = arquitetura-baseada-em-microservicos
	url = git@github.com:alcir-junior-caju/study-full-cycle-3-0-arquitetura-baseada-em-microservicos.git
[submodule "eda-event-driven-architecture"]
	path = eda-event-driven-architecture
	url = git@github.com:alcir-junior-caju/study-full-cycle-3-0-eda-event-driven-architecture.git
[submodule "rabbitmq"]
	path = rabbitmq
	url = git@github.com:alcir-junior-caju/study-full-cycle-3-0-rabbitMQ.git
